@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', ;
}
html,body{
    height: 100%;
    width: 100%;
    background: #65C3E5;
   background: -webkit-linear-gradient(left,#A4C3D2, #BFD4DB);
  color:black;
}
nav{
   font-style: oblique;
   font-weight: bold;
   font-family: "Times New Roman", Times, serif;
  color:green;
}
a:link {
  color: green;
}

/* visited link */
a:visited {
  color: red;
}

/* mouse over link */
a:hover {
  color: blue;
}

